.masters-container {
    width: 100%;
    margin-bottom: 50px;
}

.masters-header {
    height: 500px;
    background-color: rgb(188, 216, 218);
    width: 100%;
}

.masters-header-block {
    width: 50%;
    background-color: #eeeeee;
    height: 450px;
    position: absolute;
    top: 150px;
    right: 0;
}

.masters-header-block img {
    margin-left: -150px;
    margin-top: -50px;
    width: 85%;
    min-width: 400px;
}

.title-masters {
    margin-top: 150px;
    margin-bottom: 50px;
}

.btn-more-master {
    width: 200px;
}

.master-container {
    width: 100%;
    margin: 0px auto;
    margin-top: 80px;
}

.photo-master img {
    /* width: 70%; */
}

.info-master {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
    border-top: 1px solid black;
}

.name-master {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: left;
}

.text-master {
    width: 200px;
}

.photo-master .rating-area {
    position: absolute;
    top: 130px;
    left: 450px;
    width: 300px;
}

.text-info-master {
    font-size: 24px;
    font-family: 'Poiret One', cursive;
}

.main-info-master {
    width: 250%;
    margin-top: 135px;
    border-bottom: 1px solid black;
    margin-left: 50px;
    padding-bottom: 20px;
}

.characteristic {
    width: 250%;
    margin-left: 50px;
}


/* ПОРТФОЛИО */

.master-portfolio {
    width: 100%;
    background-color: #505050;
    padding: 50px;
    margin-top: 80px;
}

.title-portfolio {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.images-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
}

.images-portfolio img {
    width: 220px;
    margin: 15px;
}


/* МОДАЛЬНОЕ ОКНО */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* ОТЗЫВЫ */

.comments {
    width: 90%;
    margin: 0px auto;
}

.title-comments {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: left;
}

.form-comment {
    width: 50%;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: none;
    height: auto;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
    min-width: 300px;
    margin-bottom: 50px;
}

.text-comment {
    font-size: 24px;
    font-family: 'Poiret One', cursive;
}

.form-comment .rating-area {
    width: 300px;
    margin-left: -90px;
}

.form-comment textarea {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poiret One', cursive;
}

.btn-comment {
    background-color: rgb(188, 216, 218);
    white-space: nowrap;
    margin-left: 0;
}

a {
    text-decoration: none;
}

.btn-comment:hover {
    background-color: #fef4ea;
}

.comment {
    border-bottom: 1px solid rgb(122, 122, 122);
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Poiret One', cursive;
    width: 60%;
}

.author-comment {
    font-size: 24px;
}